:root {
  --default-text-color: #ffffff;
  --secondary-text-color: #47b431;
  --heading-text-color: #ff8a00;
  --accent-text-color: #ff8a00;
  --bg-color: #090909;
  --nav-hover-color: #1d9ca8;
  --link-color: #ff8a00;
  --icon-color: #ff8a00;
}
