:root {
  --default-text-color: #090909;
  --secondary-text-color: #808080;
  --heading-text-color: #2c677e;
  --accent-text-color: #090909;
  --bg-color: #e9e9e9;
  --nav-hover-color: #6ba2bd;
  --link-color: #2c677e;
  --icon-color: #2c677e;
}
