html {
  background-color: var(--bg-color, #898989);
  transition: background-color ease-in-out 250ms;
}

h1 {
  font-size: 50px;
  margin: 0 0 30px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  color: var(--heading-text-color);
  margin-top: 26px;
  margin-bottom: 16px;
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul:not([class]) {
  margin: 0;
  padding-left: 15px;
}

.cv-page {
  max-width: 1400px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  position: relative;
  font-family: Oxygen, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--default-text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header__left {
  margin-bottom: 50px;
}

.header__theme-toggle {
  position: sticky;
  top: 30px;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.header__theme-toggle svg {
  width: 80px;
  height: 80px;
}

.heading__position {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}

.middle-block {
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: 20px;
  line-height: 1.7;
}

.experience__step {
  display: grid;
  grid-template-columns: 230px 1fr;
  column-gap: 30px;
}

.experience__step:not(:first-of-type) {
  margin-top: 40px;
}

.aside-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 30px;
}

.navbar {
  position: sticky;
  top: 50px;
}

.contacts {
  position: sticky;
  bottom: 40px;
}

.aside-block:not(:first-child) {
  margin-top: 50px;
}

.aside-block__title {
  margin: 0 0 20px;
}

.aside-block__list {
  margin: 0;
  padding-left: 30px;
}

.aside-block__list-item {
  margin-top: 8px;
}

.aside-block__list-item::marker {
  color: var(--heading-text-color);
}

@media (max-width: 1200px) {
  .middle-block {
    max-width: 100%;
    grid-template-columns: 1fr 250px;
  }
}

@media (max-width: 1024px) {
  .cv-page {
    width: auto;
  }
  .middle-block {
    grid-template-columns: 1fr;
  }
  .aside-right {
    padding: 30px 0;
  }
  .navbar {
    display: none;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 28px;
    margin: 0 0 10px;
  }
  h2 {
    font-size: 22px;
  }
  .cv-page {
    padding: 20px;
    font-size: 14px;
  }
  .header__left {
    margin-bottom: 15px;
  }
  .header__theme-toggle svg {
    width: 50px;
    height: 50px;
  }
  .heading__position {
    font-size: 20px;
  }
  .experience__step {
    display: block;
  }
  .project__title {
    font-size: 16px;
  }
}
