<template>
  <style>
    .navbar {
      padding: 0;
      list-style: none;
    }
    .navbar__item:not(:first-child) {
      margin-top: 10px;
    }
    .navbar__item-elem {
      display: inline-block;
      color: var(--default-text-color);
      font-size: 20px;
      cursor: pointer;
      transition: transform, text-shadow 300ms;
      letter-spacing: 2px;
    }
    .navbar__item-elem:hover {
      text-shadow: 0 0 10px var(--nav-hover-color);
      transform: translate(-1px, 0px);
      transition: transform 300ms, text-shadow 300ms;
    }
  </style>
</template>
